h1, ul {
    color: tomato;
}

#places {
    color: black;
}

.important-places {
    color:aquamarine;
}

.text-color {
    color: brown;
}

.text-size {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}